.exercici {
  text-align: center;
  margin: 30px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}