.exercici {
  text-align: center;
  margin: 30px;
}

.cercle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
}

.gris {
  background-color: gray;
}

.vermell {
  background-color: red;
}

.blau {
  background-color: blue;
}

.verd {
  background-color: green;
}